html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

body {
  background-color: #60a9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.pricing-table {
  background-color: white;
  border-radius: 10px;
  padding: 15px, 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.pricing-panel {
  border-bottom: 1px solid #e1f1ff;
}
.pricing-panel:last-child {
  border-bottom: none;
}

.pricing-image {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888888;
  letter-spacing: 1px;
  font-weight: 600;
}

.pricing-features {
  color: #016ff9;
  margin: 50px 0 25px;
}

.pricing-features-items {
  padding: 15px 0px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  border-top: 1px solid #e1f1ff;
}

.pricing-features-items:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #016ff9;
}

.pricing-button {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  padding: 15px 35px;
  margin: 25px 0px;
  transition: background-color 200ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: whitesmoke;
}
.pricing-button.is-featured:hover,
.pricing-button.is-featured:focus {
  background-color: #269aff;
  color: whitesmoke;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }

  .pricing-panel {
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }
  .pricing-panel:last-child {
    border-right: none;
  }
}
