img{
    width: 30%;
    height: 30rem;
    margin: calc(10%/7);
}

nav{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    border-bottom: #f1f1f1 solid 3px;
    margin-left: calc(10%/7);
    width: 30%;
    padding: 1.2em 0;
    text-transform: uppercase;


}