h1 {
  text-align: center;
  font-weight: 100;
  text-decoration: underline orange wavy;
  letter-spacing: 10px;
  font-size: 60px;
  font-family: quicksand, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}
