<%- include('partials/head')%>

    <body>
        <%- include('partials/navbar') %>
            <h1> Home <%= "ejs" .toUpperCase() %>
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis debitis incidunt autem repellat!
                Inventore,
                alias architecto animi veniam aliquid aut asperiores et, odio aperiam voluptatum temporibus eos cumque
                fugit
                reiciendis.
                Quisquam eligendi veritatis, vel autem dicta itaque quaerat similique nihil culpa perferendis laudantium
                sed
                sunt minus animi sapiente ea in fugit ab quae beatae inventore. Corporis quam molestiae aliquam ab?
                Et dolor aperiam facilis sequi itaque architecto porro? Illum, fuga voluptas voluptatibus rem neque
                reprehenderit, voluptatem molestiae hic vel beatae saepe, quibusdam dolorem numquam. Explicabo numquam
                aspernatur blanditiis voluptate vel!
                Officiis pariatur expedita placeat animi dolores molestias facilis, distinctio veritatis tempore illo
                iure vero
                cum explicabo minima dolorum non, corporis laborum. Culpa, nulla natus nobis non dolore commodi.
                Aliquid,
                laborum?
                Incidunt dolores deleniti minus voluptates quis, omnis rem recusandae doloremque enim voluptatem? Vero
                illum hic
                dolorem molestiae! Beatae libero neque, perferendis culpa nihil aut quibusdam quis. Ullam totam optio
                repellendus!
                Quos officia quam ducimus, quas deserunt a inventore asperiores tempore at odit eos nihil expedita
                ratione hic
                dolores provident vero voluptates possimus dolore labore temporibus aut officiis beatae! Expedita,
                labore.
                Sequi quia debitis ab dignissimos, consectetur earum autem corrupti in architecto minus quas aperiam
                totam eum
                voluptatibus ducimus esse ad temporibus assumenda necessitatibus, amet reprehenderit. Veritatis
                accusantium
                laboriosam at voluptatem!</p>
            <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sit deserunt tenetur odio, eius sed
                deleniti
                sequi similique quis necessitatibus, dolorem molestiae doloribus, numquam nobis quibusdam quia iure
                eaque illum.
                Iure tempora culpa deserunt error cupiditate consequatur incidunt nostrum? Et, totam id, voluptate
                provident at
                quaerat corrupti ipsam veniam molestiae dolorum fugit rem amet corporis necessitatibus! Sapiente
                inventore
                consequuntur voluptatum?
                Obcaecati officia atque doloremque, distinctio modi in architecto quos perferendis vel autem earum nisi
                explicabo veniam rem possimus! Iusto amet iure totam enim inventore, ad corporis tempora fugit maxime
                possimus.
            </h5>

    </body>

    </html>