section {
  background-color: blueviolet;
  width: 80%;
  height: 800px;
  margin: 0 auto;
  /* background-image: url("https://images.unsplash.com/photo-1607448374755-d8eba19cdf04?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=343&q=80");
  background-size: cover; */
  background: center/cover url("https://images.unsplash.com/photo-1607448374755-d8eba19cdf04?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=343&q=80") no-repeat;
}

h1{
    font-size: 5em;
    color: whitesmoke;
}